# Archivos de compilación de Maven
target/

# Archivos de configuración local
config.properties

# Archivos de IDE
.idea/
*.iml

# Archivos de log
*.log

# Archivos del sistema operativo
.DS_Store
Thumbs.db
